h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container {
    background-color: aquamarine;
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 10px 10px;
}

.box-container textarea {
    width: 400px;
    height: 400px;
    resize: none;
}
